In [57]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [58]:
#Reading the Data from CSV
df= pd.read_csv("iot_telemetry_data.csv")

In [59]:
#Task 2: Renaming the Columns
df.rename(columns = {'ts':'timestamp', 'device':'device_id','co':'carbon_monoxide', 'lpg':'liquefied_petroleum_gas','temp':'temperature'}, inplace = True)

In [60]:
#Task 3: check for null valu df.isnull().sum()
df.isnull().sum()

timestamp                  305649
device_id                  305649
carbon_monoxide            305649
humidity                   305649
light                      305649
liquefied_petroleum_gas    305649
motion                     305649
smoke                      305649
temperature                305649
dtype: int64

In [61]:
df

,timestamp,device_id,carbon_monoxide,humidity,light,liquefied_petroleum_gas,motion,smoke,temperature
0,1.590000e+09,b8:27:eb:bf:9d:51,0.004956,51.000000,False,0.007651,False,0.020411,22.700000
1,1.590000e+09,00:0f:00:70:91:0a,0.002840,76.000000,False,0.005114,False,0.013275,19.700001
2,1.590000e+09,b8:27:eb:bf:9d:51,0.004976,50.900000,False,0.007673,False,0.020475,22.600000
3,1.590000e+09,1c:bf:ce:15:ec:4d,0.004403,76.800003,True,0.007023,False,0.018628,27.000000
4,1.590000e+09,b8:27:eb:bf:9d:51,0.004967,50.900000,False,0.007664,False,0.020448,22.600000
...,...,...,...,...,...,...,...,...,...
405179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
405183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
#Task4 :Removing Duplicates
df.drop_duplicates(subset=None, keep="first", inplace=True)

In [63]:
df

,timestamp,device_id,carbon_monoxide,humidity,light,liquefied_petroleum_gas,motion,smoke,temperature
0,1.590000e+09,b8:27:eb:bf:9d:51,0.004956,51.000000,False,0.007651,False,0.020411,22.700000
1,1.590000e+09,00:0f:00:70:91:0a,0.002840,76.000000,False,0.005114,False,0.013275,19.700001
2,1.590000e+09,b8:27:eb:bf:9d:51,0.004976,50.900000,False,0.007673,False,0.020475,22.600000
3,1.590000e+09,1c:bf:ce:15:ec:4d,0.004403,76.800003,True,0.007023,False,0.018628,27.000000
4,1.590000e+09,b8:27:eb:bf:9d:51,0.004967,50.900000,False,0.007664,False,0.020448,22.600000
...,...,...,...,...,...,...,...,...,...
99530,1.590000e+09,1c:bf:ce:15:ec:4d,0.004081,58.400002,True,0.006648,False,0.017568,26.000000
99531,1.590000e+09,b8:27:eb:bf:9d:51,0.005211,49.100000,False,0.007934,False,0.021219,22.200000
99532,1.590000e+09,1c:bf:ce:15:ec:4d,0.004060,58.400002,True,0.006623,False,0.017497,26.000000
99533,1.590000e+09,b8:27:eb:bf:9d:51,0.005235,49.000000,False,0.007960,False,0.021292,22.200000
99535,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
#Task 5:Handling Missing Values:
df.dropna(inplace=True)

In [65]:
df

,timestamp,device_id,carbon_monoxide,humidity,light,liquefied_petroleum_gas,motion,smoke,temperature
0,1.590000e+09,b8:27:eb:bf:9d:51,0.004956,51.000000,False,0.007651,False,0.020411,22.700000
1,1.590000e+09,00:0f:00:70:91:0a,0.002840,76.000000,False,0.005114,False,0.013275,19.700001
2,1.590000e+09,b8:27:eb:bf:9d:51,0.004976,50.900000,False,0.007673,False,0.020475,22.600000
3,1.590000e+09,1c:bf:ce:15:ec:4d,0.004403,76.800003,True,0.007023,False,0.018628,27.000000
4,1.590000e+09,b8:27:eb:bf:9d:51,0.004967,50.900000,False,0.007664,False,0.020448,22.600000
...,...,...,...,...,...,...,...,...,...
99528,1.590000e+09,b8:27:eb:bf:9d:51,0.005225,49.100000,False,0.007949,False,0.021263,22.200000
99530,1.590000e+09,1c:bf:ce:15:ec:4d,0.004081,58.400002,True,0.006648,False,0.017568,26.000000
99531,1.590000e+09,b8:27:eb:bf:9d:51,0.005211,49.100000,False,0.007934,False,0.021219,22.200000
99532,1.590000e+09,1c:bf:ce:15:ec:4d,0.004060,58.400002,True,0.006623,False,0.017497,26.000000
99533,1.590000e+09,b8:27:eb:bf:9d:51,0.005235,49.000000,False,0.007960,False,0.021292,22.200000

In [66]:
#Task 6:Data Type Conversion:
df.dtypes

timestamp                  float64
device_id                   object
carbon_monoxide            float64
humidity                   float64
light                       object
liquefied_petroleum_gas    float64
motion                      object
smoke                      float64
temperature                float64
dtype: object

In [67]:
df['timestamp']=pd.to_datetime(df['timestamp'])

In [68]:
df.dtypes

timestamp                  datetime64[ns]
device_id                          object
carbon_monoxide                   float64
humidity                          float64
light                              object
liquefied_petroleum_gas           float64
motion                             object
smoke                             float64
temperature                       float64
dtype: object

In [74]:
df = df.astype({'light':'bool','motion':'bool'})

In [75]:
df.dtypes

timestamp                  datetime64[ns]
device_id                          object
carbon_monoxide                   float64
humidity                          float64
light                                bool
liquefied_petroleum_gas           float64
motion                               bool
smoke                             float64
temperature                       float64
dtype: object

In [76]:
#Task 7: export the cleaned dataset to CSV to "cleaned_dataset.csv"
df.to_csv('cleaned_environment.csv', index=False)